@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;

300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .wrapper {
  display: block;
}

.header {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.header__info {
  width: 300px;
}

.header__info-contacts {
  line-height: 17px;
  color: black;
  margin-top: 60px;
  opacity: 0.7;
}

.header__info-phone {
  margin-top: 20px;
}

.header__info-phone:hover,
.header__info-mail:hover {
  font-weight: bold;
}

.header__slider {
  width: 700px;
  margin-right: 30px;
}

.title__text {
  font-size: 46px;
  font-weight: bold;
}

.title__text--small {
  font-size: 16px;
}

.title__sub-text {
  margin-top: 20px;
  font-size: 18px;
}

.title__sub-text--small {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
}

.title--white {
  color: white;
}

.slider__description {
  background: rgba(0, 0, 0, 0.7);
  width: 400px;
  border-bottom-left-radius: 5px;
  position: absolute;
  z-index: 10;
  top: 440px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sliderpop {
  margin: auto;
}

.sliderpop__item {
  margin-top: 20px;
}

.sliderpop__item img {
  border-radius: 2px;
}

.sliderpop__description {
  margin-top: 10px;
  margin-left: 70px;
  text-align: left;
  width: 220px;
}

.sliderpop__item--red {
  -webkit-box-shadow: 5px 5px 50px 9px rgba(255, 11, 11, 0.3);
          box-shadow: 5px 5px 50px 9px rgba(255, 11, 11, 0.3);
}

.sliderpop__item--white {
  -webkit-box-shadow: 5px 5px 50px 9px rgba(255, 255, 255, 0.2);
          box-shadow: 5px 5px 50px 9px rgba(255, 255, 255, 0.2);
}

.sliderpop__item--blue {
  -webkit-box-shadow: 5px 5px 50px 9px rgba(40, 21, 255, 0.3);
          box-shadow: 5px 5px 50px 9px rgba(40, 21, 255, 0.3);
}

.props {
  font-size: 14px;
}

.props__size {
  color: white;
  opacity: 0.6;
}

.props__price {
  margin-top: 10px;
  color: #ffd700;
}

.props--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid black;
}

.slider__item img {
  height: 500px;
  width: 700px;
  border-radius: 5px;
}

.sliderbig .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sliderbig .slick-current {
  opacity: 0.5;
}

.sliderbig {
  height: 500px;
  width: 180px;
}

.sliderbig__item {
  margin-top: 25px;
}

.sliderbig__item img {
  width: 180px;
  height: 130px;
  border-radius: 3px;
}

.slider .slick-arrow,
.sliderpop .slick-arrow {
  margin: -12px 0 0 0;
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 15px;
  height: 25px;
  z-index: 10;
}

.sliderpop .slick-arrow {
  top: 150px;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0;
}

.slider .slick-arrow.slick-prev,
.sliderpop .slick-arrow.slick-prev {
  left: 20px;
  background: url("../img/arr-left.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next,
.sliderpop .slick-arrow.slick-next {
  right: 20px;
  background: url("../img/arr-right.svg") 0 0/100% no-repeat;
}

.sliderpop .slick-arrow.slick-prev {
  left: 0;
}

.sliderpop .slick-arrow.slick-next {
  right: 0;
}

.sliderpop__item {
  margin-top: 30px;
}

.main {
  background-color: black;
  padding: 30px;
}

.main__slider {
  margin-top: 60px;
  width: 90%;
  position: relative;
  text-align: center;
}

.footer {
  background-color: black;
  padding: 30px;
  text-align: left;
}

.footer__info {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title a {
  color: white;
}

.footer__privacy-policy,
.footer__link {
  color: white;
  line-height: 30px;
  opacity: 0.6;
}

.footer__link {
  text-decoration: underline;
  background: none;
}

.footer__link:hover {
  color: #ffd700;
  cursor: pointer;
}

.footer__form {
  width: 300px;
}

.footer__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__input-mail,
.footer__input-msg,
.footer__submit {
  padding: 10px;
  border-radius: 5px;
}

.footer__input-mail:focus,
.footer__input-msg:focus {
  border: 3px solid #ffd700;
  padding-top: 7px;
  padding-bottom: 7px;
}

.footer__input-msg,
.footer__submit {
  margin-top: 30px;
}

.footer__submit {
  background-color: blue;
  color: white;
  width: 70%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__submit:hover {
  background-color: #351AFF;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.popup__overlay:target {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  width: 600px;
  height: 640px;
  border-radius: 5px;
  background: white;
  margin: 25px auto;
  padding: 20px;
}

.popup__header {
  font-size: 22px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__closed {
  width: 15px;
  height: 15px;
}

.popup__text {
  margin-top: 20px;
  font-size: 16px;
}

.popup__text p {
  margin-top: 10px;
}

.popup__text ul {
  margin-top: 10px;
  margin-left: 15px;
}